<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
	<title>Log In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login" method="post">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" class="login__input" placeholder="Username" name="Username">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" class="login__input" placeholder="Password" name="Password">
          </div>


          <div class="button login__submit">
            <input
              class="button__text"
              type="submit"
              value="Log in"
            />
          </div>
          <a href="registration" class="button create__submit">
            <span class="button__text">Create an account</span>
          </button>
        </a>
      </form>
  
      {% with msg = get_flashed_messages() %}
      {% if msg %} 

        {% for message in msg %}
          <div class="error">{{ message }}</div>
        {% endfor %}
        
      {% endif %} 
      {% endwith %}

      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>	
      
    </div>
  </div>
</body>
</html>