<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Guy 2021</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml" />

    <!-- 
    - custom css link
  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/movie.css')}}"
    />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="#top">
    <main>
      <article>
        <!-- 
        - #MOVIE DETAIL
      -->

        <section class="movie-detail">
          <div class="container">
            <figure class="movie-detail-banner">
              <img src="movie.png" alt="Free guy movie poster" />

              <button class="play-btn">
                <ion-icon name="play-circle-outline"></ion-icon>
              </button>
            </figure>

            <div class="movie-detail-content">
              <p class="detail-subtitle">New Episodes</p>

              <h1 class="h1 detail-title">Free <strong>Guy</strong></h1>

              <div class="meta-wrapper">
                <div class="badge-wrapper">
                  <div class="badge badge-fill">PG 13</div>

                  <div class="badge badge-outline">HD</div>
                </div>

                <div class="ganre-wrapper">
                  <a href="#">Comedy</a>
                </div>

                <div class="date-time">
                  <div>
                    <ion-icon name="calendar-outline"></ion-icon>

                    <time datetime="2021">2021</time>
                  </div>

                  <div>
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT115M">115 min</time>
                  </div>
                </div>
              </div>

              <p class="storyline">
                Description: bla bla bla bla bla bla bla bla bla
              </p>
              <p class="storyline">Production Company: bla bla bla</p>
              <p class="storyline">Runtime: bla bla bla</p>
              <p class="storyline">Rlease Date: bla bla bla</p>
              <p class="storyline">Improtant /cast: bla bla bla</p>
              <p class="storyline">Improtant crew: bla bla bla</p>
            </div>
          </div>
        </section>
      </article>
    </main>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
