<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Account Setting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile-page.css')}}">
    
  </head>
  <body>
    <section class="container" style="width: 900px;">
      <!-- Account Setting -->
      <header>Account Setting</header>
      <div action="#" class="form">
        <!-- Profile Photo -->
        <div class="container" style="height: 170px;">
          <div class="avatar-upload" >
              <div class="avatar-edit">
                  <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                  <div id="imagePreview" style="background-image: url('https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg');">
                  </div>
              </div>
          </div>
      </div>
        <!-- User Name -->
        <div class="input-box">
          <label>User Name</label>
          <input type="text" placeholder = "User name" value="jana_mohammed" required/> <!-- Change Value -->
        </div>
        <!-- First Name -->
        <div class="input-box">
          <label>First Name</label>
          <input type="text" placeholder = "First name" value="Jana" required/> <!-- Change Value -->
        </div>
        <!-- Last Name -->
        <div class="input-box">
          <label>Last Name</label>
          <input type="text" placeholder = "Last name" value="Mohammed" required/> <!-- Change Value -->
        </div>
        <!-- Email -->
        <div class="input-box">
          <label>Email Address</label>
          <input type="text" placeholder = "Email Address" value="jana.mohammed@gmail.com" required/> <!-- Change Value  -->
        </div>
        <!-- Phone Number -->
        <div class="column">
          <div class="input-box">
            <label>Phone Number</label>
            <input type="text" value="+201030416936" required/> <!-- Change Value -->
          </div>
          <!-- Birth Date -->
          <div class="input-box">
            <label>Birth Date</label>
            <input type="date" value="11/14/2001" required /> <!-- Birth Date -->
          </div>
        </div>
        <!-- Gender -->
        <div class="gender-box">
          <h3>Gender</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">Male</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Female</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-other" name="gender" />
              <label for="check-other">Prefer not to say</label>
            </div>
          </div>
        </div>
        <!-- Address -->
        <div class="input-box address">
          <label>Address</label>
          <div class="column">
            <input type="text" value="Egypt" placeholder="Enter your Country" required /> <!-- Change Value -->
            <input type="text" value="Monofia" placeholder="Enter your city" required /> <!-- Change Value -->
          </div>
        </div>
        <!-- Bio -->
        <div class="input-box" id = "princip">
          <label>Bio</label>
          <div class="column"></div>
          <input style="height: 10em;" type="text" placeholder = "About you"/> <!-- Change Value  -->
        </div>
        <!-- Update Password -->
        <div class="input-box password">
          <div class="column">
            <input type="password" placeholder="Old Password" required />
            <input type="password" placeholder="New Password" required />
            <button style="margin-top:0.7em;" >Update Password</button>
          </div>
        </div>
        <!-- Update profile information -->
        <button style="margin-top:2.5em;">Update Profile</button>
      </div>
    </section>
  </body>
</html>