<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Account Setting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile-page.css')}}">
    
  </head>
  <body>
    <section class="container" style="width: 900px;">
      <form action="#" method="post">
        
        <!-- Account Setting -->
        <header>Account Setting</header>
        <div action="#" class="form">
          <!-- Profile Photo -->
          <div class="container" style="height: 170px;">
            <div class="avatar-upload" >
              <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                  <div id="imagePreview" style="background-image: url('https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg');">
                  </div>
                </div>
              </div>
            </div>
            <!-- User Name -->
            <div class="input-box">
              <label>User Name</label>
              <input readonly type="text" placeholder = "User name" name = "username" value = "{{ session['username']}}"/> <!-- Change Value -->
            </div>
            <!-- First Name -->
            <div class="input-box">
              <label>First Name</label>
              <input type="text" placeholder = "First name" name = "firstname" value = "{{ first_name }}"/> <!-- Change Value -->
            </div>
            <!-- Last Name -->
            <div class="input-box">
              <label>Last Name</label>
              <input type="text" placeholder = "Last name" name = "lastname" value = "{{ last_name }}"/> <!-- Change Value -->
            </div>
            <!-- Email -->
          <div class="input-box">
            <label>Email Address</label>
            <input type="text" placeholder = "Email Address" name = "email" value = "{{ email }}"/> <!-- Change Value  -->
          </div>
          <!-- Phone Number -->
          <div class="column">
            <div class="input-box">
              <label>Phone Number</label>
              <input type="text" name="phonenumber" placeholder = "Phone Number" value = "{{ phonenumber }}"/> <!-- Change Value -->
            </div>
            <!-- Birth Date --> 
            <div class="input-box">
              <label>Birth Date</label>
              <input type="date" name="birthday"  value = "{{ birthday }}"/> <!-- Birth Date -->
            </div>
          </div>
          <!-- Gender -->
          <div class="gender-box">
            <h3>Gender</h3>
            <div class="gender-option">
              {% if gender == 'M' %}
              <div class="gender">
                <input type="radio" id="check-male" value="M" name="gender"  checked />
                <label for="check-male">Male</label>
              </div>
              <div class="gender">
                <input type="radio" id="check-female" value ="F" name="gender" />
                <label for="check-female">Female</label>
              </div>
              {% else %}
              <div class="gender">
                <input type="radio" id="check-male" value="M" name="gender"  />
                <label for="check-male">Male</label>
              </div>
              <div class="gender">
                <input type="radio" id="check-female" name="gender" value = "F" checked/>
                <label for="check-female">Female</label>
              </div>
              {% endif %}
              
            </div>
          </div>
          <!-- Address -->
          <div class="input-box address">
            <label>Address</label>
            <div class="column">
              <input type="text" name = "country" placeholder="Enter your Country" value = "{{ country }}"/> <!-- Change Value -->
              <input type="text" name ="city" placeholder="Enter your city" value = "{{ city }}"/> <!-- Change Value -->
            </div>
          </div>
          <!-- Bio -->
          <div class="input-box" id = "princip">
            <label>Bio</label>
            <div class="column"></div>
            <input style="height: 10em;" type="text" placeholder = "About you" name = "bio" value = "{{ bio }}" /> <!-- Change Value  -->
          </div>
          <!-- Update Password -->
          
          <div class="input-box password">
            <div class="column">
              <input type="password" placeholder="Old Password" name="oldpassword"/>
              <input type="password" placeholder="New Password" name="newpassword" />
            </div>
          </div>
          {% with msg = get_flashed_messages() %}
          {% if msg %} 
            {% for message in msg %}
              {% if message == "Updated Successfully" %}
              <div class="success">{{ message }}</div>
              {% else %}
              <div class="error">{{ message }}</div>
              {% endif %}
            {% endfor %}
            
          {% endif %} 
          {% endwith %}
          
          <!-- Update profile information -->
          <div class="input-box password">
            <input type="Submit" style="margin-top:1em;" value ="Update Profile">
          </div>

        </div>
      </form>
    </section>
  </body>
</html>